@font-face {
  font-family: 'Avenir-Light';
  src: url("../fonts/Avenir-Light.eot");
  src: url("../fonts/Avenir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Light.woff") format("woff"), url("../fonts/Avenir-Light.ttf") format("truetype"), url("../fonts/Avenir-Light.svg#Avenir-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir-Medium';
  src: url("../fonts/Avenir-Medium.eot");
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir-Medium.woff") format("woff"), url("../fonts/Avenir-Medium.ttf") format("truetype"), url("../fonts/Avenir-Medium.svg#Avenir-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvenirNext-Regular';
  src: url("../fonts/AvenirNext-Regular.eot");
  src: url("../fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNext-Regular.woff") format("woff"), url("../fonts/AvenirNext-Regular.ttf") format("truetype"), url("../fonts/AvenirNext-Regular.svg#AvenirNext-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

::selection {
  background: #00baeb;
  color: white; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir-Light', 'sans-serif';
  font-size: 1.1em;
  background: #f8f8f8;
  color: #fff;
  overflow-x: hidden; }

div {
  position: relative; }

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
  background: white;
  min-height: 500px; }

.page-body {
  position: relative; }

.state-hidden {
  display: none !important; }

a {
  text-decoration: none;
  color: #00baeb;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ie-transition: all 200ms ease;
  transition: all 200ms ease; }

a:hover {
  text-decoration: none; }

a:focus {
  text-decoration: none;
  color: #00baeb; }

a.nav-link {
  color: #00baeb;
  padding: 0.5em 0 0.5em 0;
  border: 2px solid transparent; }

a.nav-link:hover {
  border-bottom: 2px solid #1fd0ff;
  color: #1fd0ff; }

li.active a.nav-link {
  border-bottom: 2px solid #00baeb; }

a.nav-link:focus {
  text-decoration: none; }

a.darker-link {
  color: #0092b8; }

a.darker-link:hover {
  color: #007d9f; }

.btn-outline {
  border: 2px solid #00baeb !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em 1em 0.5em 1em !important; }

.btn-outline:hover {
  border: 2px solid #1fd0ff !important; }

.btn-trial {
  background: #00baeb;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 0.8em 1.8em 0.8em 1.8em;
  display: inline-block;
  color: white;
  margin: 1.5em auto 1em auto;
  cursor: pointer; }

.btn-trial:hover {
  background: #00c6fa;
  color: white; }

.btn-trial:active {
  margin-top: 1.6em;
  margin-bottom: 0.9em; }

.btn-trial:focus {
  color: white !important;
  text-decoration: none !important; }

div.bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 520px;
  overflow: hidden;
  background: white; }

.no-photo {
  height: 720px;
  background: white !important; }

.hero-display {
  background: #dfdfdf;
  width: 75%;
  float: left; }

.hero-display img {
  width: 100%; }

.hero-text {
  background: linear-gradient(0deg, #1fd0ff 0%, #00baeb 100%);
  margin-top: 50px;
  color: white;
  width: 260px;
  height: 350px;
  margin-left: -70px;
  float: left; }

div.bg-half {
  background: linear-gradient(0deg, #56e4d5 0%, turquoise 100%);
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

div.bg-half-br {
  background: linear-gradient(0deg, #1fd0ff 0%, #00baeb 100%);
  position: absolute;
  width: 50%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50%; }

div.bg-half-bl {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50%;
  background: linear-gradient(0deg, #39d6ff 0%, #52dbff 100%);
  z-index: 1;
  height: 70px; }

.bg-img {
  width: 100%;
  height: 100%; }

div.bg-large {
  min-height: 850px;
  height: 100vh;
  max-height: 1100px; }

div.bg-md {
  height: 850px; }

div.page-container {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 140px;
  background: white; }

.anim-block {
  opacity: 0; }

header {
  position: relative;
  width: 100%;
  height: 120px;
  margin: 0 0 5em 0; }

div.logo-container {
  position: absolute;
  overflow: hidden;
  width: 260px;
  height: 35px;
  top: 40px;
  left: 50px;
  z-index: 55; }

.logo {
  width: 260px;
  transition: all 0.2s ease; }

.logo:hover {
  opacity: 0.75; }

div.mobile-nav-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120vh;
  background: #2f2e3d;
  background-size: cover;
  opacity: 1;
  z-index: 50;
  display: none; }

div.nav-container {
  position: absolute;
  right: 50px;
  top: 40px;
  width: 475px;
  height: 35px;
  display: inline-block;
  text-align: right;
  z-index: 950;
  opacity: 1; }

ul.nav-top {
  display: block;
  list-style: none;
  color: white;
  font-size: 0.85em;
  margin: 8px 0 0 0;
  padding: 0; }

ul.nav-top li {
  display: inline-block;
  margin: 0 1em; }

ul.nav-top li:first-child {
  margin-left: 0; }

ul.nav-top li:last-child {
  margin: 0; }

img.nav-icon {
  position: absolute;
  right: 15px;
  top: 28px;
  opacity: 0.75;
  z-index: 55;
  opacity: 0;
  display: none;
  -webkit-transition: all 400 ease;
  -moz-transition: all 400 ease;
  -ie-transition: all 400 ease;
  transition: all 400 ease;
  width: 28px; }

img.close-icon {
  position: absolute;
  right: 15px;
  top: 20px;
  opacity: 0.75;
  -webkit-transition: all 400 ease;
  -moz-transition: all 400 ease;
  -ie-transition: all 400 ease;
  transition: all 400 ease; }

.large-heading {
  font-size: 4.4em; }

h1 {
  display: block;
  font-size: 4em;
  color: white;
  font-weight: 100;
  margin: 0.1em auto;
  font-family: 'Avenir-Light';
  line-height: 1.1em; }

h2 {
  display: block;
  font-size: 2.2em;
  width: 100%;
  font-weight: 100;
  margin: 0.1em auto;
  line-height: 1.2em;
  font-family: 'Avenir-Light'; 
    
    

}

h3 {
  display: block;
  font-size: 1.3em;
  width: 100%;
  font-weight: 100;
  margin: 0.1em auto 2.5em auto;
  color: white;
  font-family: 'Avenir-Light';
  line-height: 1.2em; }

h4 {
  display: block;
  font-size: 1em;
  width: 100%;
  font-weight: 100;
  margin: 0.8em auto;
  color: #fff;
  line-height: 1.2em; }

h5 {
  font-size: 1.1em;
  display: block;
  width: 100%;
  margin: 0.5em auto;
  line-height: 1.2em;
  color: #b1b5be;
  font-weight: 100; }

h2.lc {
  font-size: 3em;
  margin: 0 auto 0 auto; }

.subheader {
  max-width: 600px;
  margin: 4em auto 0 auto;
  font-family: 'Avenir-Light';
  color: #505064; }

.sml {
  font-size: 0.6em; }

span.dot {
  display: inline-block;
  font-size: 0.5em;
  margin: -1.2em 0.5em 0 0.5em; }

.grey {
  color: #b7c0c6; }

div.page-title {
  color: #aaaabe;
  margin: 0 0 40px 0;
  text-align: center; }

div.page-title span.title-intro {
  font-size: 1em;
  display: block;
  margin: 10px auto; }

.anim1, .anim2, .anim3 {
  -webkit-transform: perspective(800px) rotateX(-60deg) translateY(50px);
  transform: perspective(800px) rotateX(-60deg) translateY(50px);
  opacity: 0;
  -webkit-animation-name: anim;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-name: anim;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out; }

.anim1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  color: #505064; }

.anim2 {
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
  color: #505064; }

.anim3 {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s; }

div.page-title h3 {
  color: #aaaabe; }

span.small-text {
  font-size: 14px; }

.block {
  display: block; }

.dark-text {
  color: #6d7383; }

.mobile-only {
  display: none !important; }

div.bg-small {
  height: 120px !important; }

small {
  font-size: 65%; }

.screenshot-container {
  background-image: url(../img/bg-lines-pattern.png), url(../img/bg-grid.png), linear-gradient(45deg, #f3c08e 0%, #e098a9 25%, #c073d7 50%, #8d93d2 75%, #3bcbd2 100%);
  padding-top: 20px; }

div.screenshot {
  position: relative;
  width: 100%;
  max-width: 1240px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  display: block;
  margin: 4.5em auto 1.5em auto;
  padding: 3.2% 3.2% 3.8% 3.2%;
  background: linear-gradient(45deg, #0a0a0a 0%, #323232 100%);
  border: 3px solid grey;
  box-shadow: 0 0 0 4px gainsboro;
  overflow: visible;
  z-index: 100; }

div.screenshot-keyboard {
  width: 110%;
  height: 3%;
  background: linear-gradient(0deg, #cdcdcd 0%, #dadada 100%);
  margin-top: 4%;
  margin-left: -9%;
  position: absolute;
  z-index: 2;
  display: block;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border-top: 3px solid #fafafa;
  text-align: center; }

div.screenshot-groove {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, #c8c8c8 20%, #c8c8c8 80%, rgba(0, 0, 0, 0.4) 100%);
  width: 15%;
  height: 45%;
  margin: -2px auto 0 auto; }

.screen {
  width: 100%;
  box-shadow: inset 0 0 5px 5px #888; }

.screen-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 500;
  opacity: 1;
  -webkit-animation-name: fadeout;
  -webkit-animation-delay: 1.6s;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease;
  animation-name: fadeout;
  animation-delay: 1.6s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  background: url(../img/screen-still.gif) no-repeat center;
  background-size: cover; }

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden; }

.play-link {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -35px;
  border: 3px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  background: url(../img/play-arrow.svg) no-repeat center rgba(0, 0, 0, 0.2);
  background-size: 50% 50%;
  background-position-x: 60%;
  cursor: pointer;
  z-index: 1000; }

.play-link:hover {
  background: url(../img/play-arrow.svg) no-repeat center rgba(0, 0, 0, 0.5);
  background-size: 50% 50%;
  background-position-x: 60%; }

.play-link {
  display: none; }

.touchevents .screen-cover, .touchevents .video-cover {
  display: none; }

.touchevents .play-link {
  display: block; }

.no-touchevents .play-link {
  display: none; }

.inner-glow {
  position: relative;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3); }

div.browser-bar {
  background-color: #eceaeb, url(../img/bg-pattern.png);
  background: -moz-linear-gradient(45deg, #eceaeb 0%, #cbc8ce 100%);
  background: -webkit-linear-gradient(45deg, #eceaeb 0%, #cbc8ce 100%);
  background: -ms-linear-gradient(45deg, #eceaeb 0%, #cbc8ce 100%);
  background: linear-gradient(60deg, #eceaeb 0%, #cbc8ce 100%);
  height: 50px;
  width: 100%;
  position: relative;
  text-align: center; }

div.browser-dots {
  position: absolute;
  left: 18px;
  top: 14px; }

div.browser-dot {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 4px 0 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #b7c0c6; }

div.browser-dot:first-child {
  background: #fa5d52; }

div.browser-dot:nth-child(2) {
  background: #f9be05; }

div.browser-dot:nth-child(3) {
  background: #35ca35; }

div.browser-address {
  position: relative;
  display: inline-block;
  width: 30%;
  min-width: 200px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.8em;
  color: #b7c0c6;
  text-align: center;
  background: white;
  margin: 10px auto 0 auto;
  padding: 0.3em 0 0.4em 0; }

.popup-bg-container {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 45px);
  z-index: 40;
  text-align: center; }

.popup-video-container {
  position: relative;
  display: none;
  width: 100%;
  padding: 0 20px;
  vertical-align: middle; }

.popup-video {
  max-width: 1280px;
  margin: -20px auto 0 auto; }

.popup-close {
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 10px;
  width: 30px;
  height: 30px;
  opacity: 0.9;
  cursor: pointer; }

.popup-close:hover {
  opacity: 0.7; }

.popup-show {
  display: block;
  opacity: 1; }

.close-btn {
  padding: 8px; }

.popup-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: visible;
  max-width: 100%;
  height: auto; }

.popup-embed-container iframe, .popup-embed-container object, .popup-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

div.features {
  max-width: 1240px;
  margin: 0 auto; }

div.features.padding-bottom{padding: 0 0 60px;}

div.feature {
  background: white;
  color: #b7c0c6;
  margin: 10px 10px;
  padding: 1.5em 1em 2.2em 1em;
  text-align: center;
  opacity: 0;
  min-height: 360px; }

div.feature-icon-container {
  width: 110px;
  height: 110px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 10, 0.05);
  background: #f8f8f8;
  text-align: center;
  padding: 20px;
  margin: 10px auto; }

.feature-icon {
  display: block;
  opacity: 1; }

hr.feature-line {
  width: 50%;
  background: #b7c0c6;
  border: none;
  display: block;
  margin: 10px auto 20px auto;
  height: 1px; }

p.feature-desc {
  width: 80%;
  margin: 10px auto;
  line-height: 1.4em;
  font-size: 0.8em; }

img.coming-soon {
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 2;
  width: 90px; }

div.timeline {
  width: 100%;
  margin: 4em auto;
  text-align: center;
  display: block; }

div.timeline-start {
  background: #00baeb;
  color: white;
  width: 75px;
  height: 75px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  transform: scale(0);
  animation-name: pop;
  animation-delay: 1s;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0, 1.8, 1, 1.8); }

div.timeline-start > span {
  line-height: 75px; }

div.timeline-line {
  background: #00baeb;
  width: 3px;
  display: block;
  margin: 0 auto; }

.line1, .line2 {
  height: 0;
  -webkit-animation-name: grow;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-in-out;
  animation-name: grow;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out; }

.line1 {
  -webkit-animation-delay: 1.3s;
  -webkit-animation-duration: 1s;
  animation-delay: 1.3s;
  animation-duration: 1s; }

.line2 {
  -webkit-animation-delay: 2.6s;
  -webkit-animation-duration: 0.5s;
  animation-delay: 2.6s;
  animation-duration: 0.5s; }

span.timeline-text {
  max-width: 800px; }

span.intro-text {
  display: block;
  text-align: center;
  font-size: 0.9em;
  width: 100%;
  font-weight: 100;
  margin: 0.8em auto;
  color: #B2B7C3;
  opacity: 0;
  -webkit-animation-name: fadein;
  -webkit-animation-delay: 2.2s;
  -webkit-animation-duration: .4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-timing-function: ease-out;
  animation-name: fadein;
  animation-delay: 2.2s;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out; }

div.timeline-milestone {
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #f8f8f8;
  border: 3px solid #00baeb;
  display: block;
  margin: 0 auto 1em auto; }

.milestone1 {
  -webkit-transform: scale(0);
  -webkit-animation-name: pop;
  -webkit-animation-delay: 3.1s;
  -webkit-animation-duration: .3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition-timing-function: cubic-bezier(0, 1.8, 1, 1.8);
  transform: scale(0);
  animation-name: pop;
  animation-delay: 3.1s;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0, 1.8, 1, 1.8); }

div.timeline-launch {
  display: block;
  margin: -20px auto 1em auto; }

span.phase {
  font-size: 1.3em;
  display: block;
  color: #505064; }

span.release-date {
  font-size: 0.8em;
  display: block;
  color: #b1b5be; }

span.release-feature {
  font-size: 1.8em;
  text-transform: capitalize;
  color: #505064;
  letter-spacing: 0em;
  display: block;
  font-family: 'Avenir-Light'; }

span.feature-list-title {
  text-transform: capitalize;
  font-size: 1.2em;
  letter-spacing: 0em;
  margin: 2em auto 0 auto;
  display: block; }

hr.small-divider {
  width: 30%;
  border: none;
  background: #b7c0c6;
  height: 1px; }

ul.feature-list {
  max-width: 750px;
  margin: 0 auto;
  padding: 0;
  font-size: 0.9em; }

ul.feature-list li {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  margin: 0.2em 1em; }

span.footnote {
  font-size: 0.7em; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#launch-milestone {
  /* with animation properties */
  margin-top: -3px;
  /* microsoft ie */
  animation-name: spin;
  animation-duration: 40000ms;
  /* 40 seconds */
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

div.plans {
  margin: 1em 0;
  display: block;
  text-align: center;
  padding: 100px 40px !important;
  background-image: url(../img/bg-lines-pattern.png), url(../img/bg-grid.png), linear-gradient(45deg, #f3c08e 0%, #e098a9 25%, #c073d7 50%, #8d93d2 75%, #3bcbd2 100%); }

.plans-container {
  z-index: 100;
  text-align: center; }

div.plan-card {
  width: 19%;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  margin: 0; }

div.plan {
  background: white;
  text-align: center;
  display: inline-block;
  padding: 0 0 1.75em 0;
  width: 96%;
  max-width: 290px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 20, 0.15); }

span.plan-title {
  background: #00baeb;
  width: 100%;
  display: block;
  padding: 1em 0;
  text-align: center;
  color: white;
  font-size: 1.3em;
  text-transform: capitalize;
  letter-spacing: 0em;
  overflow: hidden;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

span.plan-price {
  font-size: 2.2em;
  display: block;
  margin: 0.8em auto 0 auto;
  color: #00baeb;
  font-family: 'Avenir-Medium';
  line-height: 1em; }

span.plan-frequency {
  font-size: 0.8em;
  display: inline-block;
  margin: 0 1em 0 1em;
  opacity: 0.5;
  border-bottom: 4px solid transparent; }

ul.plan-features {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0.5em auto 0.5em auto; }

ul.plan-features li {
  margin: 0.1em auto; }

.plan-annual-text, .plan-annual-text-sml {
  text-align: center;
  display: block;
  font-size: 0.8em;
  margin-bottom: 0;
  padding: 0;
  opacity: 0.5; }

.plan-annual-text {
  line-height: 1.25em; }

.plan-annual-text-sml {
  font-size: 0.7em; }

.plan-trial-btn {
  display: block;
  text-align: center; }

.plan small {
  font-size: 0.7em;
  text-align: center;
  margin: 0;
  padding: 0; }

a.btn-trial.pricing-trial-btn {
  margin-top: 0; }

a.btn-trial.pricing-trial-btn:active {
  margin-top: 2px; }

.plan-beginner .plan-title {
  background-image: linear-gradient(0deg, #f4c88d 0%, #ffab60 100%); }

.plan-beginner .plan-price {
  color: #f4c88d; }

.plan-beginner span.plan-frequency-month {
  border-bottom-color: #f4c88d; }

.plan-light .plan-title {
  background-image: linear-gradient(0deg, #ffab60 0%, #ff6960 100%); }

.plan-light .plan-price {
  color: #ffab60; }

.plan-light span.plan-frequency-month {
  border-bottom-color: #ffab60; }

.plan-plus .plan-title {
  background-image: linear-gradient(0deg, #ff8571 0%, #ef3574 100%); }

.plan-plus .plan-price {
  color: #ff757a; }

.plan-plus span.plan-frequency-month {
  border-bottom-color: #ff757a; }

.plan-premium .plan-title {
  background-image: linear-gradient(0deg, #ef3574 0%, #b233ab 100%); }

.plan-premium .plan-price {
  color: #ff4281; }

.plan-premium span.plan-frequency-month {
  border-bottom-color: #ff4281; }

.plan-enterprise .plan-title {
  background-image: linear-gradient(0deg, #b233ab 0%, #752da8 100%); }

.plan-enterprise .plan-price {
  color: #b233ab; }

.plan-enterprise span.plan-frequency-month {
  border-bottom-color: #b233ab; }

a.plan-btn-trial {
  background: transparent;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 0.7em 1.2em 0.7em 1.2em;
  display: inline-block;
  color: #00baeb;
  margin: 0.3em auto 0.8em auto;
  font-size: 0.9em;
  border: 2px solid #00baeb; }

a.plan-btn-trial:hover {
  background: #00baeb;
  border: 2px solid #00baeb;
  color: white; }

span.plan-text {
  display: block;
  margin: 1em auto 3em auto;
  text-align: center;
  font-size: 1em;
  color: #b7c0c6; }

span.subheading {
  font-size: 2em;
  font-family: 'Avenir-Light';
  color: #6d7383;
  display: block;
  text-align: center;
  margin: 0 auto 1em auto; }

div.questions {
  margin: 5em auto 3em auto;
  max-width: 1100px; }

span.question {
  display: block;
  font-size: 1.1em;
  font-family: 'AvenirNext-Regular';
  margin: 3em auto 0.5em auto; }

span.answer {
  display: block;
  font-size: 0.8em;
  color: #b7c0c6;
  font-weight: 100;
  margin-bottom: 4em; }

div.question-container {
  padding: 0 2em !important; }

div.form-container {
  display: block;
  margin: 80px auto;
  background: white;
  width: 100%;
  max-width: 1000px; }

form {
  padding: 0;
  margin: 0; }

form.contact-form {
  display: block;
  font-size: 0.8em; }

input[type=text], input[type=email], textarea {
  background: #f8f8f8;
  padding: 0.5em 1em;
  text-align: left;
  display: block;
  border: none;
  margin: 0.3em 0 1.2em 0;
  width: 100%;
  border-radius: 0; }

textarea {
  height: 240px;
  resize: vertical; }

a.btn-primary {
  background: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0.8em 2.5em 0.8em 2.5em;
  display: inline-block;
  color: #00baeb;
  margin: 1.5em 1em 1em auto;
  border: 2px solid #00baeb; }

a.btn-primary:hover {
  background: #00baeb;
  border: 2px solid #00baeb;
  color: white; }

a.btn-secondary {
  background: transparent;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0.8em 2.5em 0.8em 2.5em;
  display: inline-block;
  color: #a1a0b4;
  margin: 1.5em auto 1em auto;
  border: 2px solid white; }

a.btn-secondary:hover {
  background: #b1afc4;
  border: 2px solid #00baeb;
  color: white; }

div.form-info {
  display: block;
  padding: 0 0 0 20%; }

span.form-info-title {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  line-height: 1px; }

span.subheading-sm {
  font-size: 1.1em;
  font-family: 'Avenir-Light';
  color: #6d7383;
  display: block; }

hr.info {
  background: #6d7383;
  border: none;
  height: 1px; }

span.info {
  font-size: 0.8em;
  color: #B2B7C3; }

span.form-header {
  font-size: 1.5em;
  font-family: 'Avenir-Light';
  color: #6d7383;
  display: block; }

span.response {
  color: green;
  display: block;
  text-align: left;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  opacity: 0;
  background: #c8f7b0;
  transition: all 0.3s ease; }

span.error {
  color: red;
  background: #ffcfcf; }

#submit-btn:focus {
  background: #00baeb;
  border: 2px solid #00baeb; }

#submit-btn:active {
  margin-top: 1.6em;
  margin-bottom: 0.9em; }

div.clients {
  position: relative;
  background-image: linear-gradient(-45deg, #f3c08e 0%, #e098a9 25%, #c073d7 50%, #8d93d2 75%, #3bcbd2 100%);
  color: white;
  height: 400px;
  width: 100%;
  margin: 6em 0 0 0;
  text-align: center;
  font-size: 0.9em;
  overflow: hidden; }

div.clients-outer {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden; }

div.client-logos {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1; }

div.clients-inner {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

div.clients-inner h2 {
  font-size: 2.7em; }

.clients-img {
  width: 100%;
  height: 600px;
  top: 0;
  left: 0; }

.no-bottom-margin {
  margin-bottom: 0; }

.cover-reveal {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: all 0.7s ease;
  transition-delay: 0.75s; }

.swipe-right {
  width: 0; }

.triangle-topleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 99;
  border-top: 150px solid white;
  border-right: 100vw solid transparent; }

.triangle-bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 99;
  border-bottom: 150px solid white;
  border-left: 100vw solid transparent; }

.triangle-topright {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 99;
  border-top: 150px solid white;
  border-left: 100vw solid transparent; }

.triangle-bottomleft {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 99;
  border-bottom: 150px solid white;
  border-right: 100vw solid transparent; }

.triangle-topright-shallow {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 99;
  border-top: 50px solid white;
  border-left: 100vw solid transparent; }

.triangle-footer-top {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 99;
  border-bottom: 50px solid #2f2e3d;
  border-right: 100vw solid transparent; }

footer {
  position: relative;
  background: #2f2e3d;
  width: 100%;
  display: block;
  padding: 4em 0 1em 0;
  color: #b7c0c6; }

footer a.nav-link {
  color: white;
  font-size: 0.9em; }

footer a.nav-link:hover {
  color: white; }

ul.nav-footer {
  list-style: none;
  color: #b7c0c6;
  font-size: 0.9em;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0; }

ul.nav-footer li {
  display: inline-block;
  margin: 0 1em; }

span.footer-strapline {
  font-size: 1.8em;
  opacity: 0.1;
  display: block;
  text-align: center;
  margin: 0.6em 1em 5em 1em; }

span.copyright {
  position: absolute;
  line-height: 1.4em;
  font-size: 0.7em;
  display: inline-block;
  bottom: 20px;
  left: 25px;
  color: #5e5e74; }

span.social {
  position: absolute;
  text-align: right;
  line-height: 1.2em;
  font-size: 0.7em;
  display: inline-block;
  width: 100%;
  bottom: 20px;
  right: 25px; }

ul.nav-social {
  list-style: none;
  color: #b7c0c6;
  margin: 0;
  padding: 0;
  color: #5e5e74; }

ul.nav-social li {
  display: inline-block;
  margin: 0 1em; }

a.social-link {
  color: white; }

hr.footer-line {
  width: 30%;
  background: white;
  opacity: 0.06;
  border: none;
  display: block;
  margin: 35px auto 20px auto;
  height: 1px; }

div.terms {
  max-width: 1000px;
  margin: 6em auto 7em auto; }

ol.list-headers {
  margin: 0 0.4em 0 0.4em; }

ol.list-headers li {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #505064;
  font-family: 'Avenir-Light', sans-serif; }

ol.list-items {
  margin: 1rem 0 3rem 0;
  padding: 0; }

ol.list-items li {
  font-size: 0.85em;
  line-height: 1.4em;
  font-family: 'Avenir-Light', sans-serif;
  margin: 1rem 0;
  padding: 0;
  color: #9da2ae; }

.loadie {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, #56e4d5 0%, #00baeb 100%);
  width: 0;
  height: 5px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ie-transition: all 500ms ease;
  transition: all 500ms ease; }

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-grid-faded.png);
  background-color: #3d4257;
  z-index: 980; }

.cover-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80px;
  margin-top: -80px;
  width: 160px;
  height: 160px;
  background: url(../img/logo-load.svg) center no-repeat;
  background-size: 160px; }

div.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 999; }

@-webkit-keyframes anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    -webkit-transform: perspective(800px) rotateX(0deg) translateY(0);
    transform: perspective(800px) rotateX(0deg) translateY(0); } }
@keyframes anim {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0deg) translateY(0); } }
@-webkit-keyframes pop {
  60% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  60% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes grow {
  100% {
    height: 100%; } }
@keyframes grow {
  100% {
    height: 100%; } }
@-webkit-keyframes fadein {
  100% {
    opacity: 1; } }
@keyframes fadein {
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeout {
  100% {
    opacity: 0; } }
@keyframes fadeout {
  100% {
    opacity: 0; } }
div.row {
  padding: 0; }

div[class^="col"] {
  margin: 0;
  padding: 0; }

.old-ws-container {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0; }

div.old-workstack {
  width: 136px;
  height: 136px;
  background: #a187d4;
  color: white;
  font-size: 15px;
  padding: 1em;
  border-radius: 50%;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 450;
  text-align: center;
  font-weight: 500;
  font-family: 'Avenir-medium';
  line-height: 1.15em;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: all 0.4s ease, transform 0.05s ease;
  transform-origin: center; }

span.ws-close {
  background: url(../img/icon-close-white.svg) no-repeat center;
  background-size: 15px 15px;
  height: 18px;
  width: 18px;
  display: inline-block; }

div.old-ws-closed {
  width: 46px;
  height: 46px;
  left: 10px;
  bottom: 10px;
  background: url(../img/icon-basecamp-sml.svg) no-repeat center #a187d4;
  background-size: auto; }

div.old-workstack:hover {
  background-color: #a187d4;
  color: white; }

div.old-workstack:active {
  transform: scale(0.95); }

div.old-workstack:hover a {
  color: white; }

div.old-workstack div.content {
  display: table;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s ease; }

div.old-workstack div.content span {
  display: table-cell;
  vertical-align: middle; }

div.old-workstack a {
  color: white; }

div.old-workstack a:hover {
  color: white; }

div.old-workstack a:active {
  color: white;
  margin-top: 2px;
  transform: scale(0.95); }

.hide {
  display: none;
  opacity: 0; }

@media screen and (min-width: 1240px) {
  div.form-container {
    max-width: 1200px; } }
@media screen and (max-width: 1239px) {
  div.plan-card {
    width: 30%;
    margin-bottom: 30px; } }
@media screen and (min-device-width: 768px) and (max-width: 1024px) {
  .not-tablet {
    display: none; }

  span.copyright {
    margin: 11em 0 0 2em; }

  .bg-hero {
    height: 700px !important; }

  h1 {
    font-size: 3.4em !important; }

  h2 {
    font-size: 2.2em !important; }

  h2.lc {
    font-size: 2.6em !important; }

  .bg-hero {
    max-height: 500px; }

  span.plan-text {
    font-size: 0.8em;
    color: #b7c0c6; }

  div.plans {
    padding: 100px 0; } }
@media screen and (max-width: 840px) {
  .logo {
    width: 250px; }

  div.logo-container {
    height: 40px;
    top: 20px;
    left: 15px; }

  div.nav-container {
    top: 100px;
    left: 20px;
    width: 100% !important;
    height: 100vh !important;
    text-align: left; }

  ul.nav-top li {
    display: block;
    margin: 1em auto;
    width: 100%;
    font-size: 1.6em; }

  .nav-top .btn-outline {
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 0 !important; }

  .nav-top .btn-outline:hover {
    border-bottom: 2px solid #00baeb !important; }

  img.nav-icon {
    opacity: 0.75;
    display: inline-block; }

  h1 {
    font-size: 3.2em !important; }

  .screenshot-container {
    background: white; }

  div.plan-card {
    width: 49%;
    margin-bottom: 30px; } }
@media screen and (max-width: 768px) {
  .not-mobile {
    display: none !important; }

  header {
    margin-bottom: 5em; }

  .logo {
    width: 230px; }

  div.logo-container {
    width: 230px;
    height: 55px;
    top: 20px;
    left: 12px; }

  div.nav-container {
    top: 100px;
    left: 20px;
    width: 100% !important;
    height: 100vh !important;
    text-align: left; }

  ul.nav-top li {
    display: block;
    margin: 1em auto;
    width: 100%;
    font-size: 1.6em; }

  .nav-top .btn-outline {
    border: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 0 !important; }

  .nav-top .btn-outline:hover {
    border-bottom: 2px solid #00baeb !important; }

  img.nav-icon {
    opacity: 0.75;
    display: inline-block; }

  h1 {
    font-size: 1.8em;
    padding: 0 !important; }

  h2 {
    font-size: 1.4em; }

  h3 {
    font-size: 1.1em; }

  div.page-container {
    margin-top: 100px !important; }

  span.social {
    text-align: center;
    line-height: 1.4em;
    font-size: 0.7em;
    display: block;
    right: 0; }

  .btn-trial {
    padding: 0.5em 1.8em 0.6em 1.8em; }

  div.bg-large {
    min-height: 500px !important; }

  div.page-content {
    padding: 0 1em; }

  form.contact-form {
    padding: 25px; }

  div.form-info {
    padding: 25px; }

  div.question-container {
    padding: 0 1em !important; }

  div.bg-small {
    height: 65px !important; }

  div.terms {
    margin: 4em auto 5em auto; }

  div.screenshot {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }

  span.plan-text {
    font-size: 0.8em;
    color: #b7c0c6; }

  h2.lc {
    font-size: 2em !important; }

  .subheader {
    margin: 2em auto 0 auto;
    line-height: 1.1em;
    font-size: 1.3em;
    letter-spacing: 0em !important; }

  .sml {
    line-height: 0.5em !important; }

  .clients-img {
    -webkit-transform: scale(1);
    transform: scale(1);
    height: 400px; }

  div.screenshot {
    position: relative;
    width: 95%;
    max-width: 1240px;
    display: block;
    margin: 4.5em auto 1.5em auto;
    overflow: visible;
    border: 2px solid grey;
    box-shadow: 0 0 0 2px gainsboro; }

  div.screenshot-keyboard {
    width: 108%;
    margin-left: -7.6% !important;
    height: 4.5%;
    margin-top: 4%; }

  div.screenshot-groove {
    width: 20%; }

  div.plans {
    margin: 0 -1em; }

  .loadie {
    display: none; } }
@media screen and (max-width: 600px) {
  .mobile-only {
    display: inline-block !important; } }
@media screen and (max-width: 500px) {
  div.page-container {
    margin-top: 0px !important; }

  h1 {
    font-size: 2em !important; }

  h3 {
    font-size: 0.9em; }

  header {
    margin-bottom: 3em !important; }

  div.screenshot {
    margin-top: 1.5em; }

  div.plan {
    width: 100%;
    margin: 1em 0 !important; }

  div.screenshot-keyboard {
    width: 108%;
    margin-left: -7.4% !important;
    height: 5%;
    margin-top: 3.5%; }

  div.plans {
    padding: 100px 20px !important; }

  form.contact-form {
    padding: 10px 0; }

  div.form-info {
    padding: 60px 0; }

  div.plan-card {
    width: 100%; } }

  .isSpecial {
    
  }

 .hide {
      background-color: yellow;
    }

.center-button{
    margin: 0 auto 40px; width: 138px;
}

.userheading{
    font-size: 40px;
    margin: 0 auto 50px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}


/*# sourceMappingURL=ws.css.map */
